CharacterAnimationConfiguration(
	sprite_sheet: (
		name: "player_n_zombie",
		path: "characters/player/character_spritesheet.png",
		tile_size: (112., 112.),
		columns: 8,
		rows: 6
	),
	animations: (
		{
			"walking": (
				sprite_sheet_name: "player_n_zombie",
				state_name: "walking",
				indexs: [16,17,18,19],
				run_once: false,
				playback_speed: 0.2,
			),
			"rising": (
				sprite_sheet_name: "player_n_zombie",
				state_name: "rising",
				indexs: [26,25,24],
				run_once: false,
				playback_speed: 0.8,
			),
			"dying": (
				sprite_sheet_name: "player_n_zombie",
				state_name: "dying",
				indexs: [24,25,26,27],
				run_once: false,
				playback_speed: 0.1,
			)
		}
	)
)