CharacterAnimationConfiguration(
	sprite_sheet: (
		name: "player_n_zombie",
		path: "characters/player/character_spritesheet.png",
		tile_size: (112., 112.),
		columns: 8,
		rows: 6
	),
	animations: (
		{
			"walking": (
				sprite_sheet_name: "player_n_zombie",
				state_name: "walking",
				indexs: [0,1,2,3],
				run_once: false,
				playback_speed: 0.2,
			),
			"standing": (
				sprite_sheet_name: "player_n_zombie",
				state_name: "standing",
				indexs: [3],
				run_once: false,
				playback_speed: 1,
			),
			"dying": (
				sprite_sheet_name: "player_n_zombie",
				state_name: "dying",
				indexs: [9,10,11],
				run_once: true,
				playback_speed: 0.3,
			)
		}
	)
)